.products-container {
	padding-top: 10px;

	background-color: $body-color;
	.banner { text-align: center; }
	.table {
		position: relative;

		margin: 0 auto;

		th {
			background-color: $body-color;
			pointer-events: none;
		}
		.product-item-container {
			position: relative;

			height: 150px;
			width: 150px;

			.md-card-image {
				margin: 0 auto;
				height: 100px;
				width: 100px;
				padding: 5px;

				background-size: contain;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}

			.item-description {
				width: auto;
				margin: 5px;

				text-align: center;
			}
		}
	}
}

.ng-table-pager {
	position: relative;

	text-align: center;
	.pagination {
		vertical-align: middle;

		li > a {
			border: none;

			color: $orange;
			background-color: white;
		}

		.active a {
			color: black;

			&:hover {
				color: black;
				background-color: white;
			}
		}
	}
}