<header class="header">
	<img class="logo" src="app/assets/logo.svg">
	<form class="form" ng-submit="vm.getProductsList(vm.query)">
		<div class="input-group">
			<input ng-model="vm.query" type="text" class="form-control" placeholder="Search for...">
			<span class="input-group-btn">
			  <button class="btn btn-default" ng-click="vm.getProductsList(vm.query)" type="button">
			  	<span class="glyphicon glyphicon-search"></span>
			  </button>
			</span>
		</div>
	</form>
</header>
<div ui-view></div>